@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

// Fonts
$font-stack: Helvetica, sans-serif;
$font-title: 'Roboto Slab', serif;
$spacing-soft: .05em;

// Colors
$grey-primary-color: #333;
$white-color: #fff;
$pink-secondary-color: rgb(228, 27, 137);
$valid-info : #7CA208 ;
$not-valid-info : #DA0864;