@import './variables';
@import './placeholders';

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font: 100% $font-stack;
  color: $grey-primary-color;
  background-color: $grey-primary-color;
}

header{
    text-align: center;
    color: $white-color;
}

header{
        h1{
            font-family: $font-title;
            letter-spacing: $spacing-soft;
        }
}

#subscription{
        h2{
            margin: 2vh 0;  
        }
}

#subscription{
    width: 35%;
    margin: 5vh auto;
    padding: 1vh 3vw 5vh 3vw;
    background-color: $white-color;
    border-radius: .3em;
    box-shadow: .2em .2em .5em rgba($color: #000, $alpha: 0.4);
}

form{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
    @extend %margin-top;
}

input[type="submit"]{
    @extend %margin-top;
}

input{
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: .3em;
    border: 1px solid $grey-primary-color;
}

.info{
    margin: 1em 0;
    font-size: 0.9em;
}

.infoRight{
    color: $valid-info;
}

.infoWrong{
    color: $not-valid-info;
}

#check-password{
    list-style-type: none;
}

button{
    padding: 0.3em;
    margin-top: 0.1em;
    color: $pink-secondary-color;
    background-color: $white-color;
    border: 1px solid $white-color;
    box-shadow: .1em .1em .15em $grey-primary-color;

    &:hover{
        color: $white-color;
        background-color: $pink-secondary-color;
        border: 1px solid $pink-secondary-color;
    }
}

button > i{
    pointer-events: none;
}

input[type="submit"]{

    background-color: $pink-secondary-color;
    border: none;
    color: $white-color;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    letter-spacing: $spacing-soft ;
    transition: all 500ms;

    &:hover{
        background-color: $white-color;
        color: $pink-secondary-color;
        border: 1px solid $pink-secondary-color;
        cursor: pointer;
    }

}

@media (max-width: 700px){
    #subscription{
        width: 55%;
    }
}

@media (max-width: 500px){
    #subscription{
        width: 65%;
    }
}

@media (max-width: 350px){
    #subscription{
        width: 85%;
    }
}
