$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-body: #333;
$bg-sub: #fff;
$bg-btn: rgb(228, 27, 137);

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $bg-body;
}

header{
    text-align: center;
    color: $bg-sub;
}

#subscription{
    width: 35%;
    margin: 5vh auto;
    padding: 1vh 3vw 5vh 3vw;
    background-color: $bg-sub;
    border-radius: .3em;
    box-shadow: .2em .2em .5em rgba($color: #000, $alpha: 0.4);
}

form{
    display: flex;
    flex-direction: column;
}

label, input[type="submit"]{
    margin-top: 1.5em;
}

input{
    padding: 0.5em;
    margin-top: 0.5em;
    border-radius: .3em;
    border: 1px solid $primary-color;
}

input[type="submit"]{

    background-color: $bg-btn;
    border: none;
    color: $bg-sub;
    text-transform: uppercase;
    font-size: larger;
    font-weight: bold;
    letter-spacing: .05em;
    transition: all 500ms;

    &:hover{
        background-color: $bg-sub;
        color: $bg-btn;
        border: 1px solid $bg-btn;
        cursor: pointer;
    }

}

@media (max-width: 700px){
    #subscription{
        width: 55%;
    }
}

@media (max-width: 500px){
    #subscription{
        width: 65%;
    }
}

@media (max-width: 350px){
    #subscription{
        width: 85%;
    }
}
